.preview-image{
  width: auto;
  height: 90vh;
  display: block;
  margin: 0 auto;
}

.image-delete-wrapper{
  display: flex;
  justify-content: center;
  margin-right: 120px;
  margin-bottom: 10px;
}

.image-delete-button{
  border: 1px solid black;
  border-radius: 5px;
}

.main-form-image{
  display: flex;
  justify-content: center;
}

.comic-index-body{

}

.comic-main{
}

.comic-main-image{
  width: 30%;
  height: auto;
}

.comic-main-title{
  width: 30%;
}

.comic-nickname{
  margin-bottom: 20px;
}

.comic-explanation{
  margin-bottom: 20px;
}

.comic-part{
  display: block;
  margin-bottom: 10px;
  border-top: 1px solid rgb(199, 196, 196);
  padding: 10px;
}

.comic-image{
  height: auto;
  width: 20%;
}
  
// 576未満
.comic-show-desktop{
  display: none;
}

.comic-show-mobile{
  display: block;
}

.comic-show-mobile .mobile-image{
  height: 90vh;
  width: auto;
  
}

.comic-show-mobile .mobile-change-image{
  height: auto;
  width: 100%;
}

/* 小デバイス（横向きモバイル, 576px 以上） */
@media (min-width: 576px) {
  .comic-show-mobile{
    display: none;
  }

  .comic-show-desktop{
    display: block;
  }

  .comic-show-desktop .left-wrapper {
    margin-right: 5px;
  }

  .comic-show-desktop .image{
    height: 90vh;
    width: auto;
  }

  .comic-show-desktop .changeImage{
    width: calc(100% - 2.5px);
    height: auto;
  }

  .comic-show-desktop .left{
    float: right;
  }
}