.preview-image{
  width: auto;
  height: 90vh;
  display: block;
  margin: 0 auto;
}

.image-delete-wrapper{
  display: flex;
  justify-content: center;
  margin-right: 120px;
  margin-bottom: 10px;
}

.image-delete-button{
  border: 1px solid black;
  border-radius: 5px;
}

.main-form-image{
  display: flex;
  justify-content: center;
}

.comic-index-body{

}

.comic-main{
}

.comic-main-image{
  width: 30%;
  height: auto;
}

.comic-main-title{
  width: 30%;
}

.comic-nickname{
  margin-bottom: 20px;
}

.comic-explanation{
  margin-bottom: 20px;
}

.comic-part{
  display: block;
  margin-bottom: 10px;
  border-top: 1px solid rgb(199, 196, 196);
  padding: 10px;
}

.comic-image{
  height: auto;
  width: 20%;
}

/* スマートフォン用のスタイル */
@media (max-width: 767px) {
  /* 767px以下の場合に適用されるスタイル */
  .comic-show-desktop{
    display: none;
  }

  .comic-show-mobile{
  }
  
  .comic-show-mobile .spread-image {
    display: flex;
    justify-content: center;
    background-color: black;
    margin:  10px;
  }
  
  .comic-show-mobile .spread-image .image {
    width: 370px;
    height: auto;
  }
}

/* パソコン用のスタイル */
@media (min-width: 768px) {
  /* 768px以上の場合に適用されるスタイル */
  .comic-show-mobile{
    display: none;
  }

  .comic-show-desktop{
  }
  
  .comic-show-desktop .spread-image {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 10px;
  }
  
  .comic-show-desktop .spread-image .left-image {
    width: 370px;
    height: auto;
    margin-right: 5px;
  }

  .comic-show-desktop .spread-image .right-image {
    width: 370px;
    height: auto;
  }
}