.preview-image{
  width: auto;
  height: 90vh;
  display: block;
  margin: 0 auto;
}

.image-delete-wrapper{
  display: flex;
  justify-content: center;
  margin-right: 120px;
  margin-bottom: 10px;
}

.image-delete-button{
  border: 1px solid black;
  border-radius: 5px;
}

.main-form-image{
  display: flex;
  justify-content: center;
}